body{
    margin: 0px;
}
.container{
    position: relative;
    background:rgba(255,255,255, 0.3);
    margin-top: 0;
  
  }
  .slide-1{
    background: url('a1.jpg');
  }
  .slide-2{
    background: url('a2.jpg');
  }
  .slide-3{
    background: url('a3.jpg');
  }
  .slide-4{
    background: url('a4.jpg');
  }
  .slide-5{
    background: url('a5.jpg');
  }
  .slide-6{
    background: url('a6.jpg');
  }

  .slide{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
  }
  .caption{
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    position: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0px;
  
  }
  .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    transform: background 500ms;
  }
  .arrow img{
    width: 50px;
  
  }
  .arrow:hover{
    background: rgba(0, 0, 0, .4);
  }
  .l {
    left: 1%;
  
  }
  .r {
    right: 1%;
  }

  
.hover-3 {
    --c: #a40a2e; /* the color  */
    --h: 1.2em;   /* the height */
    
    line-height: var(--h);  
    color: #0000;
    overflow: hidden;
    text-shadow: 
      0 calc(-1*var(--h)*var(--_i,0)) var(--c), 
      0 calc(var(--h)*(1 - var(--_i,0))) #fff;
    background: 
      linear-gradient(var(--c) 0 0) no-repeat
      calc(200% - var(--_i, 0) * 100%) 100% / 200% calc(100% * var(--_i, 0) + .08em);
    transition: .3s calc(var(--_i, 0) * .3s), background-position .3s calc(.3s - calc(var(--_i, 0) * .3s));
  }
  .hover-3:hover {
    --_i: 1;
  }
  

  h3 {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    margin:0;
    cursor: pointer;
    padding: 0 .1em;
    position: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 100%;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: whitesmoke;
    padding: 10px;
    flex: 50%;
  }
  .flex-item-left:hover{
    padding: 12px;
    cursor: pointer;
  }

  
  .flex-item-right {
    background-color: whitesmoke;
    padding: 50px;
    flex: 50%;
    font-family: cursive;

  }
  
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  .a{
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 30%;
    text-align: center;
    

  }
  .a:hover{
    color: white;
    background-color: black;
    border-color: white;
    cursor: pointer;
  }
  .b{
    border-style: solid;
    border-radius: 15px;
    background-color: white;
    color: black;
    width: 90%;
    text-align: justify;
    border-width: 2px;
    border-color: whitesmoke;

  }
  .b:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    border-color: white;
  }
  .c{
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 30%;
    text-align: center;
    background-color: rgb(184, 8, 8);
    color: white;
    

  }
  .c1{
    background-color: rgb(255, 217, 0);
    width: 20%;
    height: .1%;
  }
  
 .fll{
    background-color: whitesmoke;
    padding: 10px;
    flex: 50%;
 }
 .flr{
    background-color: whitesmoke;
    padding: 10px;
    flex: 50%;
 }

